<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head></head>
    <body>
        <div th:fragment="footer"><footer>
            <div class="main-foot" >
                <div class="info-foot">
                    <img th:src="@{/images/Capture.PNG}" alt="">
                    <ul>
                        <li>Địa chỉ: Cầu Mây Phú Bình Thái Nguyên Province</li>
                        <li>Số điện thoại: 0955977222</li>
                        <li>Email: Dungngocshop@gmail.com </li>
                    </ul>
                </div>
                <div class="link-foot">
                    <h3>Về chúng tôi</h3>
                    <ul>
                        <li> <a href="">Giới thiệu</a> </li>
                        <li> <a href="">Giao hàng - Đổi trả</a></li>
                        <li> <a href="">Chính sách bảo mật</a></li>
                        <li> <a href="">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="help-foot">
                    <h3>Trợ giúp</h3>
                    <ul><li>Hướng dẫn mua hàng</li></ul>
                </div>
                <div class="register-foot">
                    <h3>Đăng kí nhận thông tin</h3>
                    <form action="" method="post">
                        <input type="text" placeholder="Đăng kí nhận tin">
                        <input type="submit" value="Gửi">
                    </form>
                    <h3>Liên kết</h3>
                    <h2><i class="bi bi-facebook"></i><i class="bi bi-youtube"></i></h2>
                </div>
            </div>
            <div class="more-foot">
                <h4>© Bản quyền thuộc về Dũng Ngọc Shop | Powered by Huy Nguyen.</h4>
            </div>
        </footer></div>
    </body>
</html>